body {
    background: rgb(156, 153, 153);
    box-sizing: border-box;
}

h1 {
    background: rgb(80, 0, 0);
    margin: 8px;
    padding: 3px 30px;
    display: block;
    border: 2px solid white;
    color:antiquewhite;
}

ul{
    list-style-type: none;
    text-align: center;
    padding: 10px 20px;
}

li {
    display: block;
    padding: 3px;
    border: 2px solid white;
    margin: 15px;
    width: 80%;
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

body [
    margin: 25px;
]